html, body, p, ul {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  color: #d3a91f; }

header {
  padding: 40px 0 20px; }

ul {
  list-style: none; }
  ul li {
    margin: 0;
    display: inline; }
    ul li a {
      text-decoration: none;
      color: #141212;
      background: #d3a91f;
      padding: 5px 10px; }
    ul li a:hover {
      transition: all 1s; }
    ul li:first-child a:hover {
      background: green; }
    ul li:nth-child(2) a:hover {
      background: yellow; }
    ul li:nth-child(3) a:hover {
      background: blue; }
    ul li:nth-child(4) a:hover {
      background: red; }
    ul li:nth-child(5) a:hover {
      background: orange; }

article {
  background: #797979;
  color: #141212;
  padding: 10px; }
  article::first-letter {
    font-size: 150%; }
  article:first-child, article:last-child {
    background: white; }
  article:nth-child(4n+1) {
    grid-column: 1/2; }
  article:nth-child(4n+2) {
    grid-column: 2/5; }
  article:nth-child(4n+3) {
    grid-column: 1/4; }
  article:nth-child(4n) {
    grid-column: 4/5; }

main {
  width: 90%;
  margin: 0 auto;
  background: #2f2a2a;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; }

blockquote:after, blockquote:before {
  content: "\" ";
  font-size: 50px; }
